body{background-image:url("images/jelly.jpg");
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-weight: bold;

}

.top {display: flex;
    flex-direction: column;
    align-items: center;
    }

#description{color: antiquewhite;
font-family: 'Poppins', sans-serif;
font-size: 18px;
padding-bottom: 20px;}

#title {display: flex;
margin-bottom: 0px;
font-size: 32px;
font-family: 'Poppins', sans-serif ;
}



#survey-form {display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgb(51, 32, 66);
padding: 40px;
margin-left: 550px;
margin-right: 550px;
opacity: 0.8;


}

#name{width: 100%;
   
   }

#number-label{display: flex;
font-size: 18px;
gap: 5px;}

.op{font-size: 14px;
align-self: center;}

.improved{display: flex;
    font-size: 18px;
    gap: 5px;}

label{font-size: 18px;}
    
p{font-size: 18px;}

